{%  extends "django_experiments_app/base.html"  %}


	{% block content %}


		<div class="container-fluid">
			<div class="row">
				<dv class="col-md-2"></dv>

					<div class="col-md-8">
				
 

 

           
                  <h2 style="font-size:38px;font-weight:bold">{{single_post.title|truncatechars:50}}</h2>
                 <img src="{{single_post.featured_image.url}}" class="img-fluid">
                  <p class="card-text">{{single_post.excerpt|safe}}</p>

     
         

					</div>

				<dv class="col-md-2"></dv>

			</div>
		</div>

	{% endblock %}